@chatBg: #1DABB8;
@textAreaBg: #282830;

@buttonColor: #97CE68;
@buttonHoverColor: darken(@buttonColor, 30%);
@inputBg: #D2D7D3;


body{
	text-align: center;
	font-family: Verdana;
	font-size: 14px;	
}

.bg:before {
	content: ' ';
	display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
	background: url('../background.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

input[type="text"] {
	padding: 5px;
	background-color: @inputBg;
	border: none;
}

input[type="button"] {
	border: none;
	border-radius: 7px;
	padding: 7px;
	background-color: @buttonColor;
	cursor: pointer;
	outline: none;

	transition: background-color 1s;

	&:hover {
		background-color: @buttonHoverColor;
		transition: background-color 1s;
	}
} 


#login {
	background-color: @chatBg;
	display: inline-block;
	padding: 15px;
	margin-top: 15%;


	#name {
		width: 120px;
	}

	img {
		vertical-align: middle;
	}
}

#chat {
	display: inline-block;
	text-align: center;
	padding: 10px;
	background-color: @chatBg;


	#navRoom {
		overflow: hidden;

		#changeRoom {
			float: right;
			margin-top: 10px;
		}
		#roomName {
			display: inline-block;
			float: left;
			font-size: 24px;
			line-height: 0px;
			font-style: bold;
			color: #F4EDF6;
			margin-left: 10px;
		}
	}

	#messagesArea {
		margin-top: 10px;
		height: 350px;
		width: 300px;
		display: inline-block;
		text-align: left;
		overflow-y: auto;
		color: white;
		background-color: @textAreaBg;
		word-wrap: break-word;


		p {
			margin: 0;

			.time {
				color: gray;
			}
			.name {
				color: #EDD834;
			}
		}

		.serverMessage {
			color: #F07818;
		}
	}

	#foot {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
///////////////////////////////////////////////////////
//room change popup
.popupWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;
	text-align: center;


	.popup {
		width: 290px;
		height: 360px;
		margin-top: 50px;
		background-color: @chatBg;
		display: inline-block;
		position: relative;

		.close {
			position: absolute;
			right: -12px;
			top: -10px;
			cursor: pointer;
			font-weight: bold;
			background-color: white;
			border-radius: 100%;
			width: 20px;
			line-height: 20px;
		}

		.roomList {
			width: 200px;
			height: 180px;
			overflow: auto;
			display: inline-block;
			text-align: left;
			background-color: @textAreaBg;
		
			 p {
				color: white;
				margin: 0px;
				cursor: pointer;
				font-size: 16px;
				font-style: bold;

				&:hover {
					background-color: @buttonHoverColor;
				}
			}
		}

	}
}

.required {
	border: 2px solid red !important;
}

.errorMsg {
	margin: 2px;
	font-size: 12px;
	font-style: italic;
	color: red;
}